$main-color: rgb(3, 50, 64);
$box-shadow-black-color: rgba(0, 0, 0, 0.06);
$box-shadow-green-color: rgb(2, 222, 120);
$white-main-color: rgb(255, 255, 255);
$input-placeholder-color: rgb(152, 188, 199);
$line-color: rgba(3, 50, 64, 0.1)